extends layout

block content
  h1= title

  ul
    each keycap in keycap_list
      li
        a(href=keycap.url) #{keycap.name}
        |  (#{keycap.description})

    else
      li There are no keycaps.